@model IEnumerable<InsuranceWebApp.Models.Policy>

@{
    ViewBag.Title = "Policies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Style/css")

<div class="page-content">
    <h3>Policies</h3>

    <p>
        @Html.ActionLink("Create New", "NewPolicy")
    </p>
    <table class="table table-primary table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PolicyNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstallmentPremium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PremiumDueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyStatus)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PolicyNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PolicyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstallmentPremium)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PremiumDueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PolicyStatus)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PolicyNumber }) |
                    @Html.ActionLink("Details", "Details", "Insurance", item, new { id = item.PolicyNumber }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PolicyNumber })
                </td>
            </tr>
        }

    </table>
</div>
